.menu {
    margin: 30px, 30px, 30px, 30px;
}

.menu :hover {
    color: #0de26a;
}

.menu a {
    text-decoration: none; 
    color: gray;
    margin: 10px
}

h1 {
    text-align: center;
    justify-content: center;
}
